[misc]
version_check_url_root=https://linphone.org/releases
log_collection_upload_server_url=https://www.linphone.org:444/lft.php
uuid=34a3428a-45fd-0091-a77e-df7e436d6e0e
user_certificates_path=../../linphone-desktop/usr-crt

[sound]
ec_filter=MSWebRTCAEC
remote_ring=../../linphone-desktop/share/sounds/linphone/ringback.wav
playback_gain_db=0.000000
mic_gain_db=0.000000

[net]
nat_policy_ref=6iyN5EDMzUxTCxT
mtu=1300
download_bw=0
upload_bw=0

[nat_policy_0]
ref=6iyN5EDMzUxTCxT

[sip]
root_ca=../../linphone-desktop/share/linphone/rootca.pem
verify_server_certs=1
verify_server_cn=1
contact=sip:rs@unknown-host
media_encryption=none
guess_hostname=1
inc_timeout=30
in_call_timeout=0
delayed_timeout=4
register_only_when_network_is_up=1
register_only_when_upnp_is_ok=1
default_proxy=0

[app]
auto_download_incoming_files_max_size=-1
sender_name_hidden_in_forward_message=0

[video]
displaytype=MSOGL
capture=1
display=1
device=Directshow capture: Integrated Camera
preset=default
show_local=1
size=720p
framerate=25.000000
preview_size=720p

[ui]
rc_version=1

[audio_codec_0]
mime=opus
rate=48000
channels=2
enabled=16

[audio_codec_1]
mime=speex
rate=16000
channels=1
enabled=16

[audio_codec_2]
mime=speex
rate=8000
channels=1
enabled=16

[audio_codec_3]
mime=PCMU
rate=8000
channels=1
enabled=16

[audio_codec_4]
mime=PCMA
rate=8000
channels=1
enabled=16

[audio_codec_5]
mime=GSM
rate=8000
channels=1
enabled=16

[audio_codec_6]
mime=G722
rate=8000
channels=1
enabled=16

[audio_codec_7]
mime=G729
rate=8000
channels=1
enabled=16

[audio_codec_8]
mime=speex
rate=32000
channels=1
enabled=16

[audio_codec_9]
mime=BV16
rate=8000
channels=1
enabled=16

[audio_codec_10]
mime=L16
rate=44100
channels=2
enabled=16

[audio_codec_11]
mime=L16
rate=44100
channels=1
enabled=16

[video_codec_0]
mime=VP8
rate=90000
enabled=0

[rtp]
audio_rtp_port=7078
video_rtp_port=9078
text_rtp_port=11078
audio_jitt_comp=60
video_jitt_comp=60
nortp_timeout=30
audio_adaptive_jitt_comp_enabled=1
video_adaptive_jitt_comp_enabled=1

[proxy_default_values]
avpf=0
dial_escape_plus=0
publish=0
quality_reporting_enabled=0
quality_reporting_interval=0
reg_expires=3600
reg_sendregister=1

[assistant]
algorithm=MD5
password_max_length=-1
password_min_length=0
username_length=-1
username_max_length=128
username_min_length=1
username_regex=^[a-zA-Z0-9+_.\-]*$

[auth_info_0]
username=1001
ha1=1adfdfa758c5ddfd9891634550ae3a2f
realm=139.224.17.61
domain=139.224.17.61
algorithm=MD5

[proxy_0]
reg_proxy=<sip:139.224.17.61;transport=tcp>
reg_identity="1002" <sip:1001@139.224.17.61>
quality_reporting_enabled=0
quality_reporting_interval=0
reg_expires=3600
reg_sendregister=1
publish=1
avpf=0
avpf_rr_interval=1
dial_escape_plus=0
privacy=32768
push_notification_allowed=0
idkey=proxy_config_wGwFcSP769PSStu
publish_expires=-1
nat_policy_ref=blsY3~S69q3o9Hj

[nat_policy_1]
ref=blsY3~S69q3o9Hj

[video_codec_1]
mime=H264
rate=90000
enabled=16
recv_fmtp=profile-level-id=42801F

